/* .card {
    display: flex;
    padding: 20px;
    cursor: pointer;
    min-width: 10px;
} */

/* .card:hover{
    background-color: gray;
} */

.container {
    margin-top: 5px;
}

.card {
    /* position: relative; */
    max-height: 40px;
    max-width: 40px;
    perspective: 30rem;
    display: flex;
    margin: 5px;
    cursor: pointer;
    min-width: 40px;
}

.front,
.back {
    border-radius: 10px;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform .5s;
    backface-visibility: hidden;
}

.front {
    background-color: #66ccff;
}

.back {
    background-color: #dd8800;
    transform: rotateY(180deg);
}

.board {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    max-width: 50%;
    min-width: 50%;
    max-height: 50%;
    min-height: 20%;
    text-align: center;
    margin: auto;
    padding-left: 10%;
}

.star-filled {
    color: orange;
    size: 200px;
}

.star-empty {
    color: white;
    border: 1px solid black;
}

main {
    background-color: lightblue;
    max-width: 500px;
    min-height: 400px;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}